In [1]:
import pandas as pd
import numpy as np
import os
from glob import glob

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
submission = pd.read_csv("sample_submission.csv")

In [3]:
train.head()

   id                                               text  target
0   0  \nThey were, and even if Washington might cons...      10
1   1  We run "SpaceNews & Views" on our STAREACH BBS...      14
2   2  \n\n\nNot to worry.  The Masons have been demo...      19
3   3  Only Brendan McKay, or maybe ARF, would come t...      17
4   4  Help: I am running some sample problems from O...       5

In [4]:
test.head()

   id                                               text
0   0  \nThe VL-IDE Adapter can be much faster then t...
1   1  \n\nYeah.  In a fire that reportedly burned ho...
2   2  :Judge: "I grant you immunity from whatever ma...
3   3  I, too, put a corbin seat on my Hawk.  I got t...
4   4  \n\nDo I ever!!!!!!  After 2 years of having h...

In [5]:
submission.head()

   id  target
0   0       0
1   1       0
2   2       0
3   3       0
4   4       0

In [6]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [7]:
vectorizer = TfidfVectorizer(ngram_range=(1, 2))

vectorizer.fit(np.array(train["text"]))

train_vec = vectorizer.transform(train["text"])
train_y = train["target"]

test_vec = vectorizer.transform(test["text"])

In [8]:
from sklearn.neural_network import MLPClassifier

In [9]:
model = MLPClassifier()
model.fit(train_vec, train_y)

MLPClassifier()

In [10]:
pred = model.predict(test_vec)

In [11]:
submission["target"] = pred

In [12]:
submission

        id  target
0        0       3
1        1      16
2        2      11
3        3       8
4        4      13
...    ...     ...
9228  9228      16
9229  9229       1
9230  9230       4
9231  9231       0
9232  9232      12

[9233 rows x 2 columns]

In [16]:
submission.to_csv("hahaha_submission.csv", index = False)