In [199]:
import warnings
warnings.filterwarnings('ignore')
import glob
import os
import joblib
import pandas as pd
pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 100)
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import combinations
from sklearn.inspection import permutation_importance

from hyperopt.pyll.base import scope
from hyperopt import STATUS_OK, Trials, fmin, hp, tpe
import lightgbm as lgb
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
import xgboost as xgb
from catboost import Pool, CatBoostClassifier
from kaggler.model import AutoLGB
from sklearn.model_selection import StratifiedKFold, KFold, GridSearchCV, StratifiedShuffleSplit, train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, log_loss
import random

# 1. 문제 정의

# 2. 데이터 수집

## (1) 데이콘 기본 데이터

In [200]:
train = pd.read_csv('data/train.csv').drop(['index'], axis=1).fillna('NAN')
test = pd.read_csv('data/test.csv').drop(['index'], axis=1).fillna('NAN')
sample_submission = pd.read_csv('data/sample_submission.csv')

# 3. 탐색적 데이터 분석

# 4. 변수 조정

In [201]:
# train데이터와 test데이터 변수를 함께 조정하기 위해 병합
merge_data = pd.concat([train, test], axis = 0)

# DAYS_BIRTH
merge_data['DAYS_BIRTH_month']=np.floor((-merge_data['DAYS_BIRTH'])/30)-(
    (np.floor((-merge_data['DAYS_BIRTH'])/30)/12).astype(int)*12)
merge_data['DAYS_BIRTH_week']=np.floor((-merge_data['DAYS_BIRTH'])/7)-(
    (np.floor((-merge_data['DAYS_BIRTH'])/7)/4).astype(int)*4)

# DAYS_EMPLOYED
merge_data['DAYS_EMPLOYED_month']=np.floor((-merge_data['DAYS_EMPLOYED'])/30)-(
    (np.floor((-merge_data['DAYS_EMPLOYED'])/30)/12).astype(int)*12)
merge_data['DAYS_EMPLOYED_week']=np.floor((-merge_data['DAYS_EMPLOYED'])/7)-(
    (np.floor((-merge_data['DAYS_EMPLOYED'])/7)/4).astype(int)*4)

# before_EMPLOYED
merge_data['before_EMPLOYED']=merge_data['DAYS_BIRTH']-merge_data['DAYS_EMPLOYED']
merge_data['before_EMPLOYED_month']=np.floor((-merge_data['before_EMPLOYED'])/30)-(
    (np.floor((-merge_data['before_EMPLOYED'])/30)/12).astype(int)*12)
merge_data['before_EMPLOYED_week']=np.floor((-merge_data['before_EMPLOYED'])/7)-(
    (np.floor((-merge_data['before_EMPLOYED'])/7)/4).astype(int)*4)

# DAYS_BIRTH
merge_data['DAYS_BIRTH_month/income_total'] = merge_data['DAYS_BIRTH_month'] / merge_data['income_total']
merge_data['DAYS_BIRTH_week/income_total'] = merge_data['DAYS_BIRTH_week'] / merge_data['income_total']

# DAYS_EMPLOYED
merge_data['DAYS_EMPLOYED_month/income_total'] = merge_data['DAYS_EMPLOYED_month'] / merge_data['income_total']
merge_data['DAYS_EMPLOYED_week/income_total'] = merge_data['DAYS_EMPLOYED_week'] / merge_data['income_total']

# before_EMPLOYED
merge_data['before_EMPLOYED/income_total'] = merge_data['before_EMPLOYED'] / merge_data['income_total']
merge_data['before_EMPLOYED_month/income_total'] = merge_data['before_EMPLOYED_month'] / merge_data['income_total']
merge_data['before_EMPLOYED_week/income_total'] = merge_data['before_EMPLOYED_week'] / merge_data['income_total']

# 총 수익을 가족 수로 나누기
merge_data['income_total/family_size'] = merge_data['income_total'] / merge_data['family_size']

merge_data['child_num/income_total'] = merge_data['child_num'] / merge_data['income_total']
merge_data['family_size/income_total'] = merge_data['family_size'] / merge_data['income_total']
merge_data['DAYS_BIRTH/income_total'] = merge_data['DAYS_BIRTH'] / merge_data['income_total']
merge_data['DAYS_EMPLOYED/income_total'] = merge_data['DAYS_EMPLOYED'] / merge_data['income_total']
#merge_data['begin_month/income_total'] = merge_data['begin_month'] / merge_data['income_total']
merge_data['DAYS_EMPLOYED/DAYS_BIRTH'] =  merge_data['DAYS_EMPLOYED'] / merge_data['DAYS_BIRTH']

# 소득 skewed-data 처리
#merge_data['log1p_income_total'] = np.log1p(merge_data['income_total'])
# merge_data['log_income_total'] = np.log(merge_data['income_total'])
# merge_data['sqrt_income_total'] = np.sqrt(merge_data['income_total'])
# merge_data['boxcox_income_total'] = stats.boxcox(merge_data['income_total'])[0]

merge_data = merge_data.fillna(-999)
train = merge_data[merge_data['credit'] != -999]
test = merge_data[merge_data['credit'] == -999]
test.drop('credit', axis = 1, inplace = True)

train_cols = list(train.columns); train_cols.remove('credit'); train_cols.append('credit')
train = train[train_cols]

train = train[train['child_num']<=6].reset_index(drop=True) # 아이의 수가 7명 이상인 데이터 제거

## 인코딩

remove_features = [2, 4, 23]
train = train.drop(train.columns[remove_features], axis=1)
test = test.drop(test.columns[remove_features], axis=1)

In [202]:
train_oh = train.copy()
train_noh = train.copy()
test_oh = test.copy()
test_noh = test.copy()

In [203]:
object_col = []
for col in train_noh.columns:
    if train_noh[col].dtype == 'object':
        train_noh[col] = train_noh[col].astype('category')
        test_noh[col] = test_noh[col].astype('category')

In [204]:
object_col = []
for col in train_oh.columns:
    if train_oh[col].dtype == 'object':
        object_col.append(col)
print(object_col)        
enc = OneHotEncoder()
enc.fit(train.loc[:,object_col])


train_onehot_df = pd.DataFrame(enc.transform(train_oh.loc[:,object_col]).toarray(), 
             columns=enc.get_feature_names(object_col))
train_oh.drop(object_col, axis=1, inplace=True)
train_oh = pd.concat([train_oh, train_onehot_df], axis=1)    

test_onehot_df = pd.DataFrame(enc.transform(test_oh.loc[:,object_col]).toarray(), 
             columns=enc.get_feature_names(object_col))
test_oh.drop(object_col, axis=1, inplace=True)
test_oh = pd.concat([test_oh, test_onehot_df], axis=1)

['gender', 'car', 'reality', 'income_type', 'edu_type', 'family_type', 'house_type', 'occyp_type']

## Permutation Importance

변수 하나씩 제거하면서 성능 체크<br>
제거하여 성능이 나쁘게 나온 것들은 리스트에 따로 저장해두기

In [164]:
train_x = train_oh.drop(['credit'], axis=1)
train_y = train_oh['credit']
test_x = test_oh.copy()

In [117]:
perm_importance_dict = {}
lucky_seeds=[42, 2019,91373] # Lucky seed 늘려가면서 하기
for i, seed in enumerate(lucky_seeds):

    kfold = StratifiedKFold(n_splits=5, random_state = seed, shuffle = True) # CV 늘려가면서 하기
    cv=np.zeros((train_x.shape[0], 3))
    pred_test = np.zeros((test_x.shape[0], 3), dtype=float)
    
    for n, (train_idx, val_idx) in enumerate(kfold.split(train_x, train_y)):

        x_train, x_val = train_x.iloc[train_idx], train_x.iloc[val_idx]
        y_train, y_val = train_y.iloc[train_idx], train_y.iloc[val_idx]
        
        lgbmodel = LGBMClassifier(objective='multiclass', n_estimators=10000, random_state=seed)
        perm = PermutationImportance(clf, scoring='neg_log_loss', random_state=seed).fit(x_val, y_val)
        
        perm_importance_df = pd.DataFrame({'importance': perm.feature_importances_}, 
                                          index=val_X.columns.tolist()).sort_index()
        perm_importance_dict['seed'+str(seed)+' fold'+str(n)] = perm_importance_df

In [132]:
perm_importance_lgb = list(perm_importance_dict.values())[0]
del perm_importance_dict[list(perm_importance_dict.keys())[0]]
for i, data in perm_importance_dict.items():
    perm_importance_lgb = pd.concat([perm_importance_lgb, data], axis=1)
perm_importance_lgb

,importance,importance,importance,importance,importance,importance,importance,importance,importance,importance,importance,importance,importance,importance,importance
DAYS_BIRTH,0.044746,0.042182,0.041731,0.043062,4.101402e-02,0.042339,0.041120,0.042147,0.043916,0.043490,0.041655,0.043423,0.043797,0.043601,4.201397e-02
DAYS_BIRTH/income_total,0.022819,0.023279,0.022296,0.024382,2.315146e-02,0.023752,0.022141,0.023708,0.022226,0.023011,0.023122,0.021882,0.024767,0.023275,2.380013e-02
DAYS_BIRTH_month,0.007404,0.007679,0.008794,0.008370,7.839389e-03,0.008227,0.008073,0.007050,0.008299,0.008436,0.008167,0.007723,0.008038,0.008420,7.783715e-03
DAYS_BIRTH_month/income_total,0.024522,0.024086,0.023204,0.024768,2.386504e-02,0.023524,0.023610,0.023077,0.023866,0.024114,0.024019,0.023510,0.024667,0.024546,2.517036e-02
DAYS_BIRTH_week,0.002778,0.003363,0.002934,0.002801,3.194540e-03,0.003262,0.002684,0.003340,0.003105,0.003416,0.003328,0.003008,0.003540,0.002861,3.009580e-03
DAYS_BIRTH_week/income_total,0.021009,0.020702,0.020045,0.020525,2.062903e-02,0.020587,0.021097,0.020257,0.020509,0.019911,0.020482,0.021235,0.021266,0.020068,1.978554e-02
DAYS_EMPLOYED,0.023522,0.023764,0.021521,0.023723,2.069835e-02,0.023254,0.023049,0.021280,0.022362,0.021619,0.020495,0.023577,0.023569,0.020404,2.378029e-02
DAYS_EMPLOYED/DAYS_BIRTH,0.037732,0.035746,0.033246,0.035982,3.269973e-02,0.036190,0.036124,0.034449,0.034965,0.032289,0.035456,0.035956,0.035600,0.033267,3.512550e-02
DAYS_EMPLOYED/income_total,0.016806,0.016394,0.014888,0.014395,1.521781e-02,0.016382,0.015062,0.016184,0.015563,0.015744,0.015746,0.016533,0.016611,0.013939,1.653330e-02
DAYS_EMPLOYED_month,0.009072,0.010568,0.008361,0.009449,8.189283e-03,0.010054,0.009451,0.009410,0.009100,0.009221,0.009318,0.008645,0.009605,0.009471,8.985124e-03
DAYS_EMPLOYED_month/income_total,0.021294,0.021984,0.020820,0.020562,2.096080e-02,0.021509,0.022174,0.020874,0.022524,0.021491,0.022517,0.021788,0.020347,0.021625,2.249458e-02
DAYS_EMPLOYED_week,0.004756,0.005819,0.004407,0.004801,4.941906e-03,0.004923,0.004249,0.003861,0.006501,0.004833,0.004817,0.004697,0.005020,0.004167,5.782238e-03
DAYS_EMPLOYED_week/income_total,0.019740,0.019599,0.018102,0.019139,1.869774e-02,0.018894,0.018228,0.018107,0.019339,0.020378,0.016778,0.019837,0.018143,0.018580,1.905429e-02
FLAG_MOBIL,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
before_EMPLOYED,0.021191,0.020299,0.019197,0.018275,2.012666e-02,0.021079,0.019133,0.019320,0.021230,0.019978,0.020794,0.019043,0.020621,0.017904,2.111898e-02
before_EMPLOYED/income_total,0.023478,0.024082,0.021289,0.022642,2.316967e-02,0.023707,0.021699,0.021257,0.024347,0.024089,0.022324,0.023669,0.023182,0.021118,2.434651e-02
before_EMPLOYED_month,0.007739,0.008313,0.007281,0.007677,7.004338e-03,0.008404,0.007284,0.007523,0.007854,0.006774,0.007883,0.007190,0.008318,0.007099,7.126361e-03
before_EMPLOYED_month/income_total,0.027355,0.029156,0.026833,0.026803,2.794685e-02,0.028110,0.027967,0.025719,0.027726,0.027830,0.028844,0.028212,0.027705,0.026037,2.686611e-02
before_EMPLOYED_week,0.003785,0.004570,0.005219,0.004778,4.291136e-03,0.004665,0.004557,0.004328,0.004719,0.004311,0.003739,0.004422,0.004872,0.005045,4.508130e-03
before_EMPLOYED_week/income_total,0.018180,0.017355,0.016363,0.015307,1.569155e-02,0.017573,0.015005,0.016121,0.017597,0.015502,0.016341,0.016830,0.017140,0.015800,1.645073e-02
begin_month,0.315529,0.299267,0.299831,0.313970,3.243435e-01,0.293213,0.296834,0.316843,0.320705,0.325571,0.301114,0.336230,0.309893,0.289401,3.209508e-01
car_N,0.001644,0.001364,0.001816,0.002085,2.004413e-03,0.001896,0.001948,0.001826,0.001441,0.001901,0.001571,0.001532,0.001709,0.001762,2.085335e-03
car_Y,0.000029,0.000188,0.000116,0.000219,-2.486442e-08,0.000099,0.000026,0.000202,0.000057,0.000117,0.000082,0.000112,0.000198,0.000056,6.814814e-05
child_num,0.001736,0.001186,0.001401,0.001712,1.191981e-03,0.001343,0.001636,0.001357,0.001483,0.001311,0.001476,0.001700,0.001248,0.001487,1.516046e-03
child_num/income_total,0.012102,0.013161,0.011483,0.012466,1.225002e-02,0.014026,0.011691,0.011398,0.011545,0.012434,0.012212,0.012389,0.012517,0.012946,1.016669e-02
edu_type_Academic degree,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
edu_type_Higher education,0.007207,0.008299,0.007364,0.008866,8.475903e-03,0.007731,0.008319,0.007535,0.007549,0.008407,0.007476,0.008817,0.007764,0.008313,7.691791e-03
edu_type_Incomplete higher,0.000632,0.001064,0.000507,0.001055,1.025123e-03,0.000949,0.000660,0.000671,0.000884,0.000729,0.000579,0.000943,0.000882,0.000970,5.993002e-04
edu_type_Lower secondary,0.000119,0.000047,0.000157,0.000046,9.817257e-05,0.000063,0.000097,0.000091,0.000092,0.000073,0.000073,0.000081,0.000059,0.000136,1.080079e-04
edu_type_Secondary / secondary special,0.001869,0.001826,0.001727,0.001458,1.879895e-03,0.001794,0.002026,0.001403,0.001792,0.001823,0.001725,0.001724,0.002011,0.001745,1.565187e-03
email,0.000466,0.000435,0.000644,0.000596,4.219247e-04,0.000551,0.000500,0.000456,0.000636,0.000497,0.000649,0.000626,0.000294,0.000521,5.793013e-04
family_size,0.002697,0.001872,0.002094,0.002062,1.737646e-03,0.002232,0.001692,0.001817,0.001973,0.001953,0.002164,0.001553,0.001854,0.002464,1.809730e-03
family_size/income_total,0.002099,0.002200,0.002839,0.001593,1.600661e-03,0.002294,0.001571,0.002175,0.001872,0.002122,0.002298,0.002195,0.002131,0.002140,1.623928e-03
family_type_Civil marriage,0.003141,0.003360,0.002809,0.003858,4.616633e-03,0.003675,0.003587,0.004370,0.003260,0.002779,0.003268,0.004117,0.003520,0.004031,3.193021e-03
family_type_Married,0.002655,0.002523,0.002230,0.002024,1.953488e-03,0.002163,0.002140,0.002341,0.002305,0.002332,0.002376,0.002425,0.002064,0.002273,2.485150e-03
family_type_Separated,0.000415,0.000579,0.000355,0.000570,6.873120e-04,0.000492,0.000827,0.000414,0.000340,0.000526,0.000868,0.000418,0.000456,0.000632,3.323751e-04
family_type_Single / not married,0.002582,0.001525,0.001592,0.001486,1.324227e-03,0.001973,0.001384,0.001887,0.001937,0.001489,0.001356,0.001612,0.001318,0.001903,2.171177e-03
family_type_Widow,0.001639,0.001845,0.001624,0.001767,1.853208e-03,0.001930,0.001818,0.001962,0.001704,0.001467,0.001882,0.001565,0.001716,0.001851,1.904020e-03
gender_F,0.001949,0.002309,0.002372,0.002137,2.480131e-03,0.002249,0.002210,0.002182,0.002642,0.002485,0.002270,0.001683,0.002531,0.002205,2.460472e-03
gender_M,0.000081,-0.000040,0.000214,0.000111,2.027611e-05,0.000153,0.000152,-0.000017,0.000144,0.000032,0.000155,0.000121,0.000040,0.000113,-3.476433e-05
house_type_Co-op apartment,0.000321,0.000232,0.000280,0.000248,1.513161e-04,0.000057,0.000359,0.000155,0.000278,0.000357,0.000124,0.000171,0.000409,0.000051,3.451388e-04
house_type_House / apartment,0.000948,0.000875,0.000840,0.000900,9.483992e-04,0.000914,0.000966,0.000830,0.000752,0.001093,0.000932,0.000653,0.001080,0.001148,7.206504e-04
house_type_Municipal apartment,0.001581,0.000546,0.001358,0.000714,1.444995e-03,0.001472,0.000886,0.000973,0.001155,0.001702,0.002157,0.001511,0.000818,0.001004,7.961863e-04
house_type_Office apartment,0.000063,0.000295,0.000136,0.000192,3.065816e-04,0.000088,0.000157,0.000102,0.000220,0.000432,0.000070,0.000257,0.000222,0.000341,-7.937209e-07
house_type_Rented apartment,0.001398,0.002047,0.001837,0.001195,2.108077e-03,0.001912,0.001779,0.001968,0.001858,0.001379,0.001462,0.001482,0.001994,0.001384,2.716336e-03
house_type_With parents,0.000133,0.000170,0.000119,0.000052,9.256189e-05,0.000165,0.000138,0.000097,0.000060,0.000120,0.000092,0.000165,0.000114,0.000171,7.734742e-05
income_total,0.015623,0.016719,0.015559,0.015538,1.459541e-02,0.015029,0.014407,0.015735,0.016938,0.015848,0.017553,0.015909,0.016588,0.014179,1.465101e-02
income_total/family_size,0.018428,0.020099,0.019306,0.018011,1.761455e-02,0.018682,0.016522,0.018997,0.019382,0.019319,0.018890,0.018451,0.018647,0.018594,1.818480e-02
income_type_Commercial associate,0.002685,0.002362,0.002557,0.002137,2.012123e-03,0.002651,0.001645,0.002472,0.002718,0.001977,0.001991,0.002563,0.001767,0.002610,2.327714e-03
income_type_Pensioner,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
income_type_State servant,0.001869,0.002238,0.001757,0.002062,2.036624e-03,0.002129,0.002323,0.001755,0.002113,0.002191,0.001320,0.001762,0.002288,0.002408,2.264608e-03
income_type_Student,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
income_type_Working,0.002408,0.002103,0.002132,0.002134,2.410520e-03,0.002301,0.002072,0.001944,0.002187,0.002362,0.002476,0.001575,0.002414,0.002282,2.343859e-03
occyp_type_Accountants,0.000702,0.000720,0.001252,0.000738,1.151732e-03,0.000784,0.000701,0.000840,0.001176,0.001009,0.001052,0.000949,0.000754,0.000892,8.557990e-04
occyp_type_Cleaning staff,0.001115,0.001379,0.001000,0.001325,1.421185e-03,0.001069,0.001046,0.001406,0.001469,0.001168,0.001469,0.001197,0.001257,0.001067,1.272565e-03
occyp_type_Cooking staff,0.000261,0.000469,0.000519,0.000626,5.570594e-04,0.000416,0.000621,0.000440,0.000547,0.000466,0.000230,0.000697,0.000855,0.000690,2.434242e-04
occyp_type_Core staff,0.003370,0.003605,0.002185,0.002515,3.964136e-03,0.002758,0.003243,0.003043,0.003492,0.002631,0.003221,0.002938,0.003897,0.002390,2.442274e-03
occyp_type_Drivers,0.001967,0.001474,0.000926,0.001710,1.574513e-03,0.001229,0.001512,0.001340,0.001956,0.001395,0.001789,0.001299,0.001464,0.001799,1.149608e-03
occyp_type_HR staff,0.000236,0.000631,0.000596,0.000415,1.100628e-04,0.000401,0.000679,0.000259,0.000307,0.000467,0.000626,0.000291,0.000745,0.000457,3.481635e-05
occyp_type_High skill tech staff,0.000503,0.000635,0.000315,0.001273,2.814509e-04,0.000342,0.000321,0.000979,0.000605,0.000319,0.000517,0.000231,0.000709,0.000425,7.971884e-04
occyp_type_IT staff,0.000022,0.000296,0.000135,0.000116,7.655339e-05,0.000322,0.000175,0.000026,-0.000027,0.000090,0.000149,0.000190,0.000007,0.000019,1.291157e-04
occyp_type_Laborers,0.000786,0.001088,0.000938,0.000822,8.502661e-04,0.001152,0.000800,0.000985,0.001021,0.000990,0.001261,0.001356,0.000723,0.000779,9.099242e-04
occyp_type_Low-skill Laborers,0.000021,0.000081,0.000083,0.000259,5.717287e-05,0.000021,0.000065,0.000118,0.000104,0.000079,0.000099,0.000140,0.000126,0.000061,-7.945475e-06
occyp_type_Managers,0.001670,0.001309,0.001848,0.001362,1.800390e-03,0.002324,0.001641,0.001489,0.001087,0.001528,0.001512,0.001668,0.001425,0.001586,1.605401e-03
occyp_type_Medicine staff,0.001974,0.001507,0.001798,0.001328,7.236825e-04,0.001172,0.001155,0.001790,0.001396,0.001802,0.001059,0.001703,0.001765,0.001142,2.244599e-03
occyp_type_NAN,0.003318,0.004300,0.003808,0.003389,3.489431e-03,0.003430,0.003829,0.004622,0.003627,0.003292,0.003689,0.003641,0.003972,0.003359,4.018752e-03
occyp_type_Private service staff,0.000090,0.000120,0.000090,0.000134,1.542566e-06,0.000162,0.000011,0.000086,0.000086,0.000070,0.000142,0.000110,0.000135,0.000152,-1.127417e-05
occyp_type_Realty agents,0.000297,0.000328,-0.000076,0.000451,-1.729593e-05,0.000261,0.000165,0.000244,0.000279,0.000070,0.000210,0.000100,0.000109,0.000144,1.663260e-04
occyp_type_Sales staff,0.001958,0.002225,0.001623,0.001895,1.865843e-03,0.001962,0.001978,0.001930,0.001851,0.002306,0.002356,0.002317,0.002209,0.002207,1.633763e-03
occyp_type_Secretaries,0.000057,0.000027,0.000039,0.000015,-6.643403e-06,0.000032,-0.000011,0.000022,0.000041,0.000041,0.000038,0.000031,0.000013,0.000014,1.148305e-05
occyp_type_Security staff,0.000292,0.000095,0.000091,0.000179,1.294088e-04,0.000172,0.000114,0.000130,0.000047,0.000258,0.000169,0.000194,0.000139,0.000094,1.896222e-04
occyp_type_Waiters/barmen staff,0.001121,0.001076,0.001441,0.000613,7.040305e-04,0.001520,0.000517,0.000461,0.000652,0.001918,0.000472,0.001563,0.000701,0.000793,1.420639e-03
phone,0.004749,0.004517,0.003927,0.003330,4.223895e-03,0.004531,0.003919,0.004309,0.004926,0.003692,0.004146,0.004092,0.004677,0.003835,5.062101e-03
reality_N,0.005326,0.005372,0.005177,0.005048,4.718357e-03,0.005438,0.005275,0.004977,0.005156,0.004483,0.004455,0.005744,0.005139,0.004766,4.843495e-03
reality_Y,0.000273,0.000255,0.000236,0.000222,3.115481e-04,0.000247,0.000424,0.000092,0.000332,0.000250,0.000456,0.000158,0.000203,0.000430,1.224222e-04
work_phone,0.003395,0.004307,0.003084,0.003436,3.391387e-03,0.003325,0.002763,0.004018,0.004279,0.003963,0.003580,0.004143,0.003537,0.003202,3.409722e-03

In [191]:
remove_features = list(perm_importance_lgb.mean(axis=1).sort_values(ascending=False).index)[-4:]

In [87]:
import eli5
from eli5.sklearn import PermutationImportance 

train_X, val_X, train_y, val_y = train_test_split(train_x, train_y, stratify=train_y, random_state=10086)
clf=LGBMClassifier()
clf.fit(train_X, train_y)
y_pred=clf.predict_proba(val_X)

perm = PermutationImportance(clf, scoring='neg_log_loss', random_state=10086).fit(val_X, val_y)
eli5.show_weights(perm, top = 80, feature_names = val_X.columns.tolist())

In [8]:
# kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)
# cv = np.zeros((train_x.shape[0], 3))
# for n, (train_idx, val_idx) in enumerate(kfold.split(train_x, train_y)):
#     x_train, x_val = train_x.iloc[train_idx], train_x.iloc[val_idx]
#     y_train, y_val = train_y.iloc[train_idx], train_y.iloc[val_idx]
#     lgbm = LGBMClassifier(n_estimators=1000, objective='multiclass')
#     lgbm.fit(x_train, y_train, eval_set=[(x_val, y_val)], early_stopping_rounds=30, verbose=None)
#     cv[val_idx] = lgbm.predict_proba(x_val)
# Initial_log_loss = log_loss(train_y, cv)
# print(f'Initial_multi_logloss: {Initial_log_loss}')

# remove_features = []
# for i in range(1, 2):
#     for j in combinations(list(range(0, train_x.shape[1])), i):
#         train_new_x = train_x.drop(train_x.columns[list(j)], axis=1)
        
#         kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=0)
#         cv = np.zeros((train_new_x.shape[0], 3))
#         for n, (train_idx, val_idx) in enumerate(kfold.split(train_new_x, train_y)):
#             x_train, x_val = train_new_x.iloc[train_idx], train_new_x.iloc[val_idx]
#             y_train, y_val = train_y.iloc[train_idx], train_y.iloc[val_idx]
#             lgbm = LGBMClassifier(n_estimators=1000, objective='multiclass')
#             lgbm.fit(x_train, y_train, eval_set=[(x_val, y_val)], early_stopping_rounds=30, verbose=None)
#             cv[val_idx] = lgbm.predict_proba(x_val)
#         print(f'{j} multi_logloss: {log_loss(train_y, cv)}')
#         if log_loss(train_y, cv) < Initial_log_loss:
#             remove_features.append(list(j)[0])

## 저장한 변수 지우는 코드

In [9]:
# remove_features = [1, 3, 4, 8, 11, 32]
# train = train.drop(train.columns[remove_features], axis=1)
# test = test.drop(test.columns[remove_features], axis=1)

## 다시 인코딩

In [182]:
train_oh = train.copy()
train_noh = train.copy()
test_oh = test.copy()
test_noh = test.copy()

In [183]:
object_col = []
for col in train_noh.columns:
    if train_noh[col].dtype == 'object':
        train_noh[col] = train_noh[col].astype('category')
        test_noh[col] = test_noh[col].astype('category')

In [184]:
object_col = []
for col in train_oh.columns:
    if train_oh[col].dtype == 'object':
        object_col.append(col)
print(object_col)        
enc = OneHotEncoder()
enc.fit(train.loc[:,object_col])


train_onehot_df = pd.DataFrame(enc.transform(train_oh.loc[:,object_col]).toarray(), 
             columns=enc.get_feature_names(object_col))
train_oh.drop(object_col, axis=1, inplace=True)
train_oh = pd.concat([train_oh, train_onehot_df], axis=1)    

test_onehot_df = pd.DataFrame(enc.transform(test_oh.loc[:,object_col]).toarray(), 
             columns=enc.get_feature_names(object_col))
test_oh.drop(object_col, axis=1, inplace=True)
test_oh = pd.concat([test_oh, test_onehot_df], axis=1)

['gender', 'car', 'reality', 'income_type', 'edu_type', 'family_type', 'house_type', 'occyp_type']

# 6. 모델 학습

In [185]:
pred_dict = {}
pred_test_dict = {}

## (1) Lightgbm

In [206]:
train_x = train_noh.drop(['credit'], axis=1)
train_y = train_noh['credit']
test_x = test_noh.copy()

### Parameter Tuning

In [15]:
# SEED=0

# # Hyperopt의 metric함수를 StratifiedKFold(cv=5)로 구하기
# def score(params):
#     print("Training with params: ")
#     print(params)
    
#     kfold = StratifiedKFold(n_splits=5, random_state = SEED, shuffle = True)
#     cv = np.zeros((train_x.shape[0], 3))

#     for n, (train_idx, val_idx) in enumerate(kfold.split(train_x, train_y)):
        
#         x_train, x_val = train_x.iloc[train_idx], train_x.iloc[val_idx]
#         y_train, y_val = train_y.iloc[train_idx], train_y.iloc[val_idx]

#         lgbmodel = LGBMClassifier(**params)

#         lgbmodel.fit(x_train, y_train, eval_set=[(x_val, y_val)], early_stopping_rounds=30, verbose=None) 
#         cv[val_idx, :] = lgbmodel.predict_proba(x_val)
#         #print(f'fold{n+1} multi_logloss: {log_loss(y_val, cv[val_idx, :])}')
#     print('multi_logloss:', log_loss(train_y, cv))
#     score = log_loss(train_y, cv)
#     return {'loss': score, 'status': STATUS_OK}

# # Hyperopt의 범위를 지정해주고 max_evals만큼 반복한 후 최적의 파라미터를 반환
# def optimize(random_state=SEED):
    
# #     param = {'objective':'multi:softprob', 'seed':SEED, 'num_class': 3, 'eval_metric':'mlogloss', 
# #          'eta': 0.01, 'min_child_weight': 3,
# #          'colsample_bytree': 0.3, 'colsample_bylevel': 0.6, 'subsample': 0.8
# #         }
#     space = {
#         #'learning_rate': hp.quniform('learning_rate', 0.004, 0.005, 0.001),
#         'learning_rate' : 0.004,
#         #'num_leaves': scope.int(hp.quniform('num_leaves', 1000, 1200, 50)),
#         'num_leaves' : 1000,
#         #'min_child_weight': hp.quniform('min_child_weight', 1, 3, 1),
#         'min_child_weight' : 2,
#         #'subsample': hp.quniform('subsample', 0.8, 1, 0.05),
#         'subsample' : 1,
#         #'colsample_bytree': hp.quniform('colsample_bytree', 0.6, 0.61, 0.01),
#         'colsample_bytree' : 0.6,
#         #'reg_alpha': hp.quniform('lambda_l1', 0.9, 1, 0.01),
#         'reg_alpha' : 0.94,
#         #'reg_lambda': hp.quniform('lambda_l2', 0.8, 1, 0.02),
#         'reg_lambda' : 0.98,
#         'max_depth' : -1,
#         'n_estimators' : 5000,
#         'objective' : 'multiclass',
#         'num_class' : 3,
#         'seed': SEED,
#     }
#     # Use the fmin function from Hyperopt to find the best hyperparameters
#     best = fmin(score, space, algo=tpe.suggest, 
#                 # trials=trials, 
#                 max_evals=12)
#     return best

# best_hyperparams = optimize()
# print("The best hyperparameters are: ", "\n")
# print(best_hyperparams)

### 3 seeds x 10 folds

In [16]:
lucky_seeds=[42,2019,91373] # Lucky seed 늘려가면서 하기
for i, seed in enumerate(lucky_seeds):

    kfold = StratifiedKFold(n_splits=10, random_state = seed, shuffle = True) # CV 늘려가면서 하기
    cv=np.zeros((train_x.shape[0], 3))
    pred_test = np.zeros((test_x.shape[0], 3), dtype=float)
    
    for n, (train_idx, val_idx) in enumerate(kfold.split(train_x, train_y)):

        x_train, x_val = train_x.iloc[train_idx], train_x.iloc[val_idx]
        y_train, y_val = train_y.iloc[train_idx], train_y.iloc[val_idx]
        
        lgbmodel = LGBMClassifier(learning_rate=0.004, objective='multiclass', n_estimators=10000, num_leaves=1000, 
                                  max_depth=-1, min_child_weight=2, colsample_bytree=0.6, reg_alpha=0.94, reg_lambda=0.98,
                                   n_jobs=-1, random_state=seed)

        lgbmodel.fit(x_train, y_train, eval_set=[(x_val, y_val)], early_stopping_rounds=30, verbose=None) 
        #joblib.dump(lgbmodel, f'./pred_pkl/LGB_{n+1}_fold_{seed}_seed_lgb.pkl')

        # CROSS-VALIDATION , EVALUATE CV
        cv[val_idx,:] = lgbmodel.predict_proba(x_val)
        pred_test += lgbmodel.predict_proba(test_x) / 10 # CV 바꾸면 이 숫자도 똑같이 바꿔야함
    pred_dict['lgb'+str(seed)] = cv
    pred_test_dict['lgb'+str(seed)] = pred_test
        
    print('multi_logloss :', log_loss(train_y, cv))

multi_logloss : 0.6873967339120363
multi_logloss : 0.6866276155463265
multi_logloss : 0.6847636925541635

lgbmodels_path = os.listdir('./pred_pkl/')
lgbmodels_list = [x for x in lgbmodels_path if x.endswith("lgb.pkl")]
assert len(lgbmodels_list) == 15
lgb_preds = np.zeros((test_x.shape[0], 3))

for m in lgbmodels_list:
    lgbmodel = joblib.load('./pred_pkl/'+m)
    lgb_preds_proba = lgbmodel.predict_proba(test)
    lgb_preds += lgb_preds_proba/15

## (2) XGBoost

원핫인코딩된 feature로 만들어주기 **꼭 밑에 코드 실행하고 XGBoost랑 Randomforest 돌리기!!**

In [17]:
train_x = train_oh.drop(['credit'], axis=1)
train_y = train_oh['credit']
test_x = test_oh.copy()

### Parameter Tuning (hyperopt)

In [18]:
# SEED=0

# # Hyperopt의 metric함수를 StratifiedKFold(cv=5)로 구하기
# def score(params):
#     print("Training with params: ")
#     print(params)
    
#     kfold = StratifiedKFold(n_splits=5, random_state = SEED, shuffle = True)
#     cv = np.zeros((train_x.shape[0], 3))

#     for n, (train_idx, val_idx) in enumerate(kfold.split(train_x, train_y)):
        
#         x_train, x_val = train_x.iloc[train_idx], train_x.iloc[val_idx]
#         y_train, y_val = train_y.iloc[train_idx], train_y.iloc[val_idx]
        
#         dtrain = xgb.DMatrix(x_train, label=y_train)
#         dvalid = xgb.DMatrix(x_val, label=y_val)
#         watchlist = [(dtrain, 'train'), (dvalid, 'valid')]

#         xgbmodel = xgb.train(params, dtrain, 100000, watchlist, early_stopping_rounds=30, verbose_eval=None)
#         cv[val_idx, :] = xgbmodel.predict(dvalid)
#         print(f'fold{n+1} multi_logloss: {log_loss(y_val, cv[val_idx, :])}')
#     print('multi_logloss:', log_loss(train_y, cv))
#     score = log_loss(train_y, cv)
#     return {'loss': score, 'status': STATUS_OK}

# # Hyperopt의 범위를 지정해주고 max_evals만큼 반복한 후 최적의 파라미터를 반환
# def optimize(random_state=SEED):
    
# #     param = {'objective':'multi:softprob', 'seed':SEED, 'num_class': 3, 'eval_metric':'mlogloss', 
# #          'eta': 0.01, 'min_child_weight': 3,
# #          'colsample_bytree': 0.3, 'colsample_bylevel': 0.6, 'subsample': 0.8
# #         }
#     space = {
#         #'eta': hp.quniform('eta', 0.006, 0.007, 0.001),
#         'eta' : 0.005,
#         #'max_depth':  hp.choice('max_depth', np.arange(20, 30, dtype=int)),
#         #'min_child_weight': hp.quniform('min_child_weight', 4, 5, 1),
#         'min_child_weight': 4,
#         #'subsample': hp.quniform('subsample', 0.72, 0.8, 0.02),
#         'subsample': 0.72,
#         #'gamma': hp.quniform('gamma', 0.6, 0.8, 0.05),
#         'gamma': 0.7,
#         #'colsample_bytree': hp.quniform('colsample_bytree', 0.3, 0.7, 0.05),
#         'colsample_bytree': 0.45,
#         #'colsample_bylevel': hp.quniform('colsample_bylevel', 0.1, 0.15, 0.01),
#         'colsample_bylevel': 0.15,
#         'max_depth' : 100,
#         'eval_metric': 'mlogloss',
#         'objective' : 'multi:softprob',
#         'num_class' : 3,
#         'seed': SEED,
#     }
#     # Use the fmin function from Hyperopt to find the best hyperparameters
#     best = fmin(score, space, algo=tpe.suggest, 
#                 # trials=trials, 
#                 max_evals=10)
#     return best

# best_hyperparams = optimize()
# print("The best hyperparameters are: ", "\n")
# print(best_hyperparams)

### 3 seeds x 10 folds

In [27]:
lucky_seeds=[42, 2019, 91373] # 늘려가면서
xgtest = xgb.DMatrix(test_x)
for i, seed in enumerate(lucky_seeds):

    kfold = StratifiedKFold(n_splits=10, random_state = seed, shuffle = True) # 늘려가면서
    cv = np.zeros((train.shape[0], 3))
    pred_test = np.zeros((test_x.shape[0], 3), dtype=float)

    for n, (train_idx, val_idx) in enumerate(kfold.split(train_x, train_y)):
        
        x_train, x_val = train_x.iloc[train_idx], train_x.iloc[val_idx]
        y_train, y_val = train_y.iloc[train_idx], train_y.iloc[val_idx]
        
        dtrain = xgb.DMatrix(x_train, label=y_train)
        dvalid = xgb.DMatrix(x_val, label=y_val)
        watchlist = [(dtrain, 'train'), (dvalid, 'valid')]

        param = {'colsample_bylevel': 0.15, 'colsample_bytree': 0.45, 'eta': 0.005, 'eval_metric': 'mlogloss', 
         'gamma': 0.7, 'max_depth': 100, 'min_child_weight': 4, 'num_class': 3, 
         'objective': 'multi:softprob', 'seed': 0, 'subsample': 0.72}
        xgbmodel = xgb.train(param, dtrain, 100000, watchlist, early_stopping_rounds=30, verbose_eval=None)
        #joblib.dump(xgbmodel, f'./pred_pkl/XGB_{n+1}_fold_{seed}_seed_xgb.pkl')

        cv[val_idx, :] = xgbmodel.predict(dvalid)
        #print(f'fold{n+1} multi_logloss: {log_loss(y_val, cv[val_idx, :])}')
        pred_test += xgbmodel.predict(xgtest) / 10 # CV 바꾸면 이 숫자도 똑같이 바꿔야함
        
    pred_dict['xgb'+str(seed)] = cv
    pred_test_dict['xgb'+str(seed)] = pred_test
    print('multi_logloss:', log_loss(train_y, cv))

multi_logloss: 0.6794795536262115
multi_logloss: 0.6785301842295772
multi_logloss: 0.6768298757692274

xgbmodels_path = os.listdir('./pred_pkl/')
xgbmodels_list = [x for x in xgbmodels_path if x.endswith("xgb.pkl")]
assert len(xgbmodels_list) == 15
xgb_preds = np.zeros((test_x.shape[0], 3))
xgtest = xgb.DMatrix(test_X)

for m in xgbmodels_list:
    xgbmodel = joblib.load('./pred_pkl/'+m)
    xgb_preds_proba = xgbmodel.predict_proba(xgtest
       xgb_preds += xgb_preds_proba/15

## (3) Random Forest

### GridSearchCV

params = {'max_depth': [55, 60, 65] # 튜닝할 파라미터 삽입
            }

rf_clf = RandomForestClassifier(random_state = 0, n_estimators = 1000, 
                                min_samples_leaf=2, min_samples_split=2,
                                criterion='entropy', n_jobs = -1)
grid_cv = GridSearchCV(rf_clf, param_grid = params, cv = 5, n_jobs = -1)
grid_cv.fit(df_train, y)

print('최적 하이퍼 파라미터: ', grid_cv.best_params_)
print('최고 예측 정확도: {:.4f}'.format(grid_cv.best_score_))

### 3 seeds, 10 folds

In [ ]:
lucky_seeds=[42,2019,91373] # 늘려가면서
for i, seed in enumerate(lucky_seeds):

    kfold = StratifiedKFold(n_splits=10, random_state = seed, shuffle = True) # 늘려가면서
    cv = np.zeros((train_x.shape[0], 3))
    pred_test = np.zeros((test_x.shape[0], 3), dtype=float)
    
    for n, (train_idx, val_idx) in enumerate(kfold.split(train_x, train_y)):
        
        x_train, x_val = train_x.iloc[train_idx], train_x.iloc[val_idx]
        y_train, y_val = train_y.iloc[train_idx], train_y.iloc[val_idx]

        rfmodel = RandomForestClassifier(n_estimators=1200, criterion='entropy', max_depth=60,
                                         min_samples_leaf=2, min_samples_split=2,
                                         random_state=seed)
        rfmodel.fit(x_train, y_train)
        #joblib.dump(rfmodel, f'./pred_pkl/RF_{n+1}_fold_{seed}_seed_rf.pkl')
        
        cv[val_idx, :] = rfmodel.predict_proba(x_val)      
        print(f'fold{n+1} multi_logloss: {log_loss(y_val, cv[val_idx, :])}')
        pred_test += rfmodel.predict_proba(test_x) / 10 # CV 바꾸면 이 숫자도 똑같이 바꿔야함
        
    pred_dict['rf'+str(seed)] = cv
    pred_test_dict['rf'+str(seed)] = pred_test
    print('multi_logloss :', log_loss(train_y, cv))

rfmodels_path = os.listdir('./pred_pkl/')
rfmodels_list = [x for x in rfmodels_path if x.endswith("rf.pkl")]
assert len(rfmodels_list) == 15
rf_preds = np.zeros((test_x.shape[0], 3))

for m in rfmodels_list:
    rfmodel = joblib.load('./pred_pkl/'+m)
    rf_preds_proba = rfmodel.predict_proba(test_x)
    rf_preds += rf_preds_proba/15

## (4) Catboost (성능X)

lucky_seeds=[42,2019,91373]
for i, seed in enumerate(lucky_seeds):

    kfold = KFold(n_splits=5, random_state = seed, shuffle = True)
    cv = np.zeros((train.shape[0], 3))
    pred_test = np.zeros((test_x.shape[0], 3), dtype=float)
    
    for n, (train_idx, val_idx) in enumerate(kfold.split(train)):
        
        x_train, x_val = train_x.iloc[train_idx], train_x.iloc[val_idx]
        y_train, y_val = train_y.iloc[train_idx], train_y.iloc[val_idx]
        _train = Pool(x_train, label=y_train)
        _valid = Pool(x_val, label=y_val)

        catmodel =  CatBoostClassifier(loss_function='MultiClass', early_stopping_rounds=50, 
                                       random_state=seed, learning_rate=0.02, iterations=100000
                                       #task_type="GPU"
                                      )
        
        catmodel.fit(_train, eval_set=_valid, use_best_model=True, verbose=2000)
        #joblib.dump(rfmodel, f'./pred_pkl/RF_{n+1}_fold_{seed}_seed_rf.pkl')
        
        cv[val_idx, :] = catmodel.predict_proba(x_val)        
        pred_test += catmodel.predict_proba(test_x) / 5
        
    pred_dict['cat'+str(i+1)] = cv
    pred_test_dict['cat'+str(i+1)] = pred_test
    print('multi_logloss :', log_loss(true, cv))

## (4) Stacking (AutoLGB)

### 27features = 3seed(42, 2019, 91373) x 3model(lgb, xgb, rf) x 3class(0, 1, 2)

In [ ]:
X_train = pd.DataFrame(np.hstack([x for _, x in pred_dict.items()]))
X_test = pd.DataFrame(np.hstack([x for _, x in pred_test_dict.items()]))

pred = np.zeros((X_train.shape[0], 3), dtype=float)
pred_test = np.zeros((X_test.shape[0], 3), dtype=float)
#kfold = KFold(n_splits=5, random_state = seed, shuffle = True)
cv = StratifiedKFold(n_splits=4, shuffle=True, random_state=42) # 이건 CV 너무 크게하면 안됨, 3~6까지 테스트해보면 좋을듯

for i_cv, (i_trn, i_val) in enumerate(cv.split(X_train, train_y)):
    if i_cv == 0:
        clf = AutoLGB(objective='multiclass', metric='multi_logloss', params={'num_class': 3}, 
                      feature_selection=False, n_est=10000)
        clf.tune(X_train.iloc[i_trn], train_y[i_trn])
        n_best = clf.n_best
        features = clf.features
        params = clf.params
        print(f'best iteration: {n_best}')
        print(f'selected features ({len(features)}): {features}')        
        print(params)
        clf.fit(X_train.iloc[i_trn], train_y[i_trn])
    else:
        train_data = lgb.Dataset(X_train[features].iloc[i_trn], label=train_y[i_trn])
        clf = lgb.train(params, train_data, n_best, verbose_eval=100)
    
    pred[i_val] = clf.predict(X_train[features].iloc[i_val])
    pred_test += clf.predict(X_test[features]) / 4

In [ ]:
print(f'CV Log Loss: {log_loss(train_y, pred):.6f}')

# 결과 제출

In [ ]:
submission = sample_submission.copy()
submission.iloc[:, 1:] = pred_test

In [ ]:
submission.to_csv('submission/submission.csv', index=False)